@media (min-width: 820) and (max-width: 1919px) {
    header {
        font-size: 85%;
    }

    body {
        font-size: 65%;
    }


}


@media (min-width: 320px) and (max-width: 819px) {
    header {
        font-size: 80%;
    }

    body {
        font-size: 55%;
        padding: 2em 5em 2em 5em;
    }

    .icon {
        max-height: 10%;
        max-width: 10%;
    }
}