@media (min-width: 320px) and (max-width: 819px) {

    body {
        font-size: 70%;
        padding: 2em 1em;
    }

    .icon {
        max-height: 5%;
        max-width: 5%;
    }

    .img {
        max-width: 80%;
        max-height: 80%;
    }
}

@media (min-width: 820px) and (max-width: 1919px) {

    body {
        font-size: 100%;
        padding: 2em 6em 2em 6em;
    }

    .icon {
        max-height: 2em;
        max-width: 2em;
    }

}